
@font-face {
    font-family: 'CallingCode';
    src: url('./assets/CallingCode-Regular.otf') format('opentype'),
        url('./assets/CallingCode-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Neue';
    src: url('./assets/Fontspring-DEMO-neueradial-a-black.otf') format('opentype');
}

@font-face {
    font-family: 'Neue-regular';
    src: url('./assets/PublicSans-Regular.ttf') format('opentype');
}

@media screen and (max-width: 767px) {
    .hidden-on-medium {
        display: none !important;
        visibility: hidden;
    }
    .padding50 {
        padding: 0 50px;
    }
    .medium-center{
        margin: 0 auto;
        margin-top: 20px;
    }
    .mtop{
        margin-top: 20px;
    }
    .w100{
        width: 100%;
    }
    .wmd{
        flex-direction: column;
    }
    .left-button{
        border-left: 0px solid !important;
        border-bottom: 2px solid #65FFDA !important;
        margin-bottom: 30px;
        margin-left: 10px;
    }
    .project-container-left{
        height: 100%;
        opacity: 0.25;
        grid-column: 1 / -1 !important;
    }
    .project-container-right{
        grid-column: 1 / -1 !important;
        padding: 40px 40px 30px !important;
        text-align: left !important;
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        height: 100%;
        z-index: 5;
    }
    .project-right-block{
        background-color: transparent !important;
        padding: 20px 0 !important;
        box-shadow: none !important;
    }
    .container-left-image{
        min-height: 364px;
    }
    .project-right-list{
        -webkit-box-pack: start !important;
        justify-content: start !important;
    }
    .image-container{
        width: 200px;
    }
}

@media (min-width: 767px) {
    .hidden-on-large {
        display: none !important;
        visibility: hidden;
    }
    .padding100{
        padding: 0 100px;
    }
    .ml50{
        margin-left: 50px;
    }
}

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.app{
    padding: 0 100px;
}

body{
    background-color: #0A192E;
    color: white;
}

*{
    box-sizing: inherit;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(10, 25, 48, 0.95);
    height: 100px;
    transition: top 0.3s ease-in-out;
    z-index: 3;
}

.header.hidden {
    top: -100px;
}

.header-logo-image{
    width: 100px;
    height: 80px;
    margin-left: 20px;
}

.header-buttons{
    height: inherit;
}

.header-button{
    font-family: 'CallingCode';
    font-size: 12px;
    background: none;
    border: none;
    color: #CCD7F5;
    text-decoration: none;
}

.button-resume {
    margin-left: 15px;
    margin-right: 30px;
    position: relative;
    color: #65FFDA;
    background-color: #0A1930;
    border: 1px solid #65FFDA;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.button-resume:hover {
    transform: translate(-3px, -3px);
    box-shadow: 2px 2px 0px #65FFDA;
}

.button-span{
    color: #65FFDA;
}

.header-button:focus {
    outline: none;
}

.header-button:hover {
    color: #65FFDA;
}

.burger{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-right: -15px;
    padding: 15px;
    border: 0px;
    background-color: transparent;
    color: inherit;
    text-transform: none;
    transition-timing-function: linear;
    transition-duration: 0.15s;
    transition-property: opacity, filter;
}

.burger-line{
    display: inline-block;
    position: relative;
    width: 30px;
    height: 24px;
}

.burger-inner-line{
    position: absolute;
    top: 50%;
    right: 0px;
    width: 30px;
    height: 2px;
    border-radius: 4px;
    background-color: #65FFDA;
    transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
    transform: rotate(0deg);
}

.burger-inner-line::before{
    content: "";
    display: block;
    position: absolute;
    left: auto;
    right: 0px;
    top: -10px;
    width: 120%;
    height: 2px;
    border-radius: 4px;
    background-color: #65FFDA;
}

.burger-inner-line::after{
    content: "";
    display: block;
    position: absolute;
    left: auto;
    right: 0px;
    bottom: -10px;
    width: 80%;
    height: 2px;
    border-radius: 4px;
    background-color: #65FFDA;
}

.main{
    margin: 200px auto 0 auto; 
    height: 720px; 
}

.main-hi{
    color: #65FFDA;
    font-family: 'CallingCode', sans-serif;
    font-size: clamp(14px,5vw,16px);
    margin: 0px 0px 30px 4px;
}

.main-name{
    color: #CCD7F5;
    font-family: 'Neue', sans-serif;
    font-size: clamp(40px, 8vw, 80px);
    margin: 0px;
}

.main-title{
    color: #8893AF;
    font-family: 'Neue', sans-serif;
    font-size: clamp(30px, 8vw, 70px);
    margin-top: 5px;
}

.main-desc{
    color: #8893AF;
    font-family: 'Neue-regular', sans-serif;
    font-size: 16px;
    max-width: 540px;
    line-height: 23px;
    margin: 20px 0px 0px;
}

.desc-link{
    position: relative;
    text-decoration: none;
    color: #65FFDA;
}

.desc-link::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 0.5px;
    background-color: #65FFDA;
    transition: width 0.3s;
}

.desc-link:hover::before {
    width: 100%;
}

.main-button{
    margin-top: 50px;
    position: relative;
    color: #65FFDA;
    background-color: #0A1930;
    font-family: 'CallingCode', sans-serif;
    border: 1px solid #65FFDA;
    padding: 15px 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.main-button:hover {
    transform: translate(-3px, -3px);
    box-shadow: 2px 2px 0px #65FFDA;
}

.sidebar-left {
    width: 40px;
    height: 100px;
    position: fixed;
    bottom: 100px;
    left: 40px;
    right: auto;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-list::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #A8B3D0;
}

.sidebar-list-item {
    list-style: none;
    width: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.sidebar-list-img {
    width: 20px;
    height: 20px;
    transition: 0.3s;
}

.sidebar-list-img:hover {
    stroke: #65FFDA;
    transform: translate(0px, -3px);
    transition: 0.3s;
}

.sidebar-right {
    width: 40px;
    height: 300px;
    position: fixed;
    bottom: 0;
    right: 40px;
    left: auto;
}

.sidebar-right-content{
    display: flex;
    flex-direction: column;
}

.sidebar-right-link {
    display: inline-block;
    text-decoration: none;
    color: #A8B3D0;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.3s;
    transform: rotate(90deg);
}

.sidebar-right-link:hover {
    color: #65FFDA;
    transform: translate(0, -3px) rotate(90deg);
    transition: 0.3s;
}

.link-line{
    margin-top: 210px;
}

.link-line::after{
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #A8B3D0;
}

.about-section{
    height: 820px;
    max-width: 900px;
    margin: 0 auto;
    padding: 100px 0px;
}

.about-container{
    margin-top: 30px;
}

.about-title{
    color: #65FFDA;
    font-family: 'Neue', sans-serif;
    font-size: clamp(13px,5vw,32px);
    color: #CCD7F5;
}

.title-number{
    color: #65FFDA;
    font-family: 'CallingCode', sans-serif;
    font-size: 20px;
    margin-right: 10px;
}

.about-title::after{
    content: "";
    display: block;
    width: 180px;
    height: 1px;
    background-color: #233654;
    margin-left: 20px;
}

.about-left{
}

.left-paragraph{
    color: #8893AF;
    font-family: 'Neue-regular', sans-serif;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 20px;
}

.left-list{
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    color: #8893AF;
    font-family: 'Neue-regular', sans-serif;
    font-size: 16px;
    line-height: 23px;
    overflow: hidden;
}

.left-list-li{
    position: relative;
    padding-left: 20px;
}

.left-list-li::before{
    content: "▹";
    position: absolute;
    left: 0px;
    color: #65FFDA;
}


.image-container {
    position: relative;
    max-width: 300px; 
}

.border-square {
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 100%;
    height: 100%;
    border: 2px solid #65FFDA;
    border-radius: 4px;
    z-index: -1;
}

.right-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.work-section{
    max-width: 700px;
    margin: 0 auto;
    padding: 100px 0px;
}

.work-container{
    margin-top: 40px;
    display: flex;
    height: 820px;
}

.work-left{
    position: relative;
    width: max-content;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.left-button{
    cursor: pointer;
    border: 0px;
    border-radius: 0px;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    position: relative;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 42px;
    padding: 0px 20px 2px;
    border-left: 2px solid #65FFDA;
    background-color: transparent;
    font-family: 'SfMono-Regular', sans-serif;
    font-size: 13px;
    text-align: left;
    white-space: nowrap;
}

.left-button:hover{
    transition: 0.3s;
    background-color: #102340;
}

.active{
    color: #65FFDA;
}

.work-right{
    position: relative;
    width: 100%;
    margin-left: 20px;
}

.right-paragraph{
    color: #8893AF;
    font-family: 'Neue-regular', sans-serif;
    font-size: 16px;
    line-height: 23px;
}

.right-title{
    color: #CCD7F5;
    font-family: 'Neue', sans-serif;
    font-size: 22px;
}

.title-link{
    margin-left: 7px;
    position: relative;
    font-family: 'CallingCode', sans-serif;
    text-decoration: none;
    color: #65FFDA;
}

.title-link::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #65FFDA;
    transition: width 0.3s;
}

.title-link:hover::before {
    width: 100%;
}

.right-subtitle{
    color: #8893AF;
    font-family: 'CallingCode', sans-serif;
    font-size: 13px;
    margin-top: 10px;
}

.right-list{
    margin-top: 40px;
    color: #8893AF;
    font-family: 'Neue-regular', sans-serif;
    font-size: 18px;
    line-height: 23px;
}

.right-list-li{
    position: relative;
    padding-left: 20px;
    padding-bottom: 10px;
}

.right-list-li::before{
    content: "▹";
    position: absolute;
    left: 0px;
    color: #65FFDA;
}

.project-section{
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 1000px;
    height: 650px;
}

.project-container{
    margin-top: 30px;
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    -webkit-box-align: center;
    align-items: center;
    visibility: visible;
    opacity: 1;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.project-container-left{
    grid-column: 1 / 8;
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;
}

.container-left-image{
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.project-container-right{
    text-align: right;
    grid-column: 1 / 8;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    position: relative;
    z-index: 1;
    grid-column: 5 / -1;
    grid-area: 1 / 1 / -1 / 7;
}

.project-right-title{
    font-family: 'CallingCode', sans-serif;
    color: #65FFDA;
    font-size: 15px;
}

.project-right-subtitle{
    margin-top: 10px;
    font-family: 'Neue', sans-serif;
    color: #CCD7F5;
    font-size: 22px;
}

.project-right-block{
    margin-top: 20px;
    position: relative;
    z-index: 2;
    box-shadow: 0 10px 30px -15px rgba(2,12,27,0.7);
    padding: 25px;
    border-radius: 4px;
    background-color: #102340;
    color: #a8b2d1;
}

.project-right-desc{
    font-family: 'Neue-regular', sans-serif;
    line-height: 20px;
    font-size: 16px;
}

.project-right-list{
    -webkit-box-pack: end;
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0px 10px;
    padding: 0px;
    list-style: none;
}

.project-right-list-li{
    margin: 0px 0px 5px 20px;
    color: #a8b2d1;
    font-size: 13px;
    white-space: nowrap;
    font-family: 'CallingCode', sans-serif;
}

.contact-section{
    max-width: 600px;
    margin: 0px auto 100px;
    text-align: center;
    padding: 200px 0;
}

.contact-title{
    font-family: 'CallingCode', sans-serif;
    color: #65FFDA;
    font-size: 19px;
    margin-bottom: 20px;
}

.contact-subtitle{
    font-family: 'Neue', sans-serif;
    color: #CCD7F5;
    font-size: 45px;
    line-height: 1.1;
    margin: 0px 0px 10px;
}

.contact-desc{
    margin: 0px;
    text-align: center;
    color: #8893AF;
    font-family: 'Neue-regular', sans-serif;
    line-height: 23px;
    font-size: 17px;
}

.contact-button {
    color: #65FFDA;
    background-color: transparent;
    border: 1px solid #65FFDA;
    border-radius: 4px;
    padding: 1.25rem 1.75rem;
    font-size: 14px;
    font-family: 'CallingCode', sans-serif;
    line-height: 1;
    text-decoration: none;
    margin-top: 50px;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

.contact-button:hover {
    transform: translate(-3px, -3px);
    box-shadow: 2px 2px 0px #65FFDA;
}

.white{
    color: #CCD7F5;
}